
Projects/.vs/Projects/v15/Browse.VC.opendb
Projects/.vs/Projects/v15/Browse.VC.db
Projects/.vs/Projects/v15/.suo
Projects/.vs/Projects/v15/ipch/AutoPCH/9fcefacc99cf90aa/ENGINE.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/2b7370e143b01b94/MATRIX.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/3562380f1aec8735/VECTOR.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/35fc823b61c77da7/MATRIX.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/bd3eca3e3d7fe4c7/SOURCE.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/e53bc3a40e0ca446/VECTOR.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/fea24a53359ebd69/MAIN.ipch
Projects/FirstProject/x64/Debug/FirstProject.log
Projects/FirstProject/x64/Debug/FirstProject.tlog/CL.command.1.tlog
Projects/FirstProject/x64/Debug/FirstProject.tlog/CL.read.1.tlog
Projects/FirstProject/x64/Debug/FirstProject.tlog/CL.write.1.tlog
Projects/FirstProject/x64/Debug/FirstProject.tlog/FirstProject.lastbuildstate
Projects/FirstProject/x64/Debug/FirstProject.tlog/FirstProject.write.1u.tlog
Projects/FirstProject/x64/Debug/FirstProject.tlog/link.command.1.tlog
Projects/FirstProject/x64/Debug/FirstProject.tlog/link.read.1.tlog
Projects/FirstProject/x64/Debug/FirstProject.tlog/link.write.1.tlog
Projects/FirstProject/x64/Debug/main.obj
Projects/FirstProject/x64/Debug/matrix.obj
Projects/FirstProject/x64/Debug/vc141.idb
Projects/FirstProject/x64/Debug/vc141.pdb
Projects/FirstProject/x64/Debug/vector.obj
Projects/.vs/Projects/v15/ipch/AutoPCH/3810558238873bf5/VECTOR.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/3aa393c69c188c1c/2-HELLO2DWORLD.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/462f0acf7b139295/2-HELLO2DWORLD.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/7663027257df5ceb/PROPERTIES.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/86bee06dcf0193d5/2-HELLO2DWORLD.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/a23af88f9f0f6229/MAIN.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/d957c4253126bb67/MATRIX.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/e34b58e8e4c86744/2-HELLO2DWORLD.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/e7a8604858535274/2-HELLO2DWORLD.ipch
Projects/.vs/Projects/v15/Solution.VC.db
Projects/.vs/Projects/v15/Solution.VC.db-shm
Projects/.vs/Projects/v15/Solution.VC.db-wal
Projects/FirstProject/x64/Debug/2-Hello2dWorld.obj
Projects/FirstProject/x64/Release/2-Hello2dWorld.obj
Projects/FirstProject/x64/Release/FirstProject.log
Projects/FirstProject/x64/Release/FirstProject.tlog/CL.command.1.tlog
Projects/FirstProject/x64/Release/FirstProject.tlog/CL.read.1.tlog
Projects/FirstProject/x64/Release/FirstProject.tlog/CL.write.1.tlog
Projects/FirstProject/x64/Release/FirstProject.tlog/FirstProject.lastbuildstate
Projects/FirstProject/x64/Release/FirstProject.tlog/FirstProject.write.1u.tlog
Projects/FirstProject/x64/Release/FirstProject.tlog/fxc.command.1.tlog
Projects/FirstProject/x64/Release/FirstProject.tlog/fxc.read.1.tlog
Projects/FirstProject/x64/Release/FirstProject.tlog/link.command.1.tlog
Projects/FirstProject/x64/Release/FirstProject.tlog/link.read.1.tlog
Projects/FirstProject/x64/Release/FirstProject.tlog/link.write.1.tlog
Projects/FirstProject/x64/Release/matrix.obj
Projects/FirstProject/x64/Release/properties.obj
Projects/FirstProject/x64/Release/vc141.pdb
Projects/FirstProject/x64/Release/vector.obj
Projects/FirstProject/x64/Release/test.obj
Projects/FirstProject/x64/Debug/test.obj
Projects/FirstProject/x64/Debug/properties.obj
Projects/FirstProject/x64/Debug/FirstProject.tlog/link.delete.1.tlog
Projects/.vs/Projects/v15/ipch/AutoPCH/e25d98fa20030e2b/PROPERTIES.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/7c7f801ca5a9deea/TEST.ipch
CGJ_Dir.rar
bin/x64/FirstProject.ilk
bin/x64/FirstProject.exe
bin/x64/FirstProject.pdb
Projects/.vs/Projects/v15/ipch/AutoPCH/348ffeaa0b76ca5d/SHADER.ipch
Projects/FirstProject/x64/Debug/Shader.obj
Projects/.vs/Projects/v15/ipch/AutoPCH/e58c0b97c7c563ed/2-HELLO2DWORLD.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/ae4178b28c947195/SHADER.ipch
Projects/.vs/Projects/v15/ipch/AutoPCH/cb9533af327e5c52/TEST.ipch
*.ipch
Projects/dragoon.png
bin/x64/FirstProject.exe
bin/x64/FirstProject.pdb
Projects/FirstProject/x64/Debug/shape.obj
*.exe
*.pdb
*.exe
*.pdb
*.rar
*.exe
Projects/FirstProject/4-QuaternionsOld.cpp
*.log
*.zip
Projects/FirstProject/x64/Debug/3-Hello3dWorld.obj
Projects/FirstProject/x64/Debug/4-Quaternions.obj
Projects/FirstProject/x64/Debug/4-QuaternionsOld.obj
Projects/FirstProject/x64/Debug/5-OBJ_loader.obj
Projects/FirstProject/x64/Debug/6-classicgl-teapot.obj
Projects/FirstProject/x64/Debug/7-MatrixStack.obj
Projects/FirstProject/x64/Debug/8-SceneManager.obj
Projects/FirstProject/x64/Debug/camera.obj
Projects/FirstProject/x64/Debug/FullScene.obj
Projects/FirstProject/x64/Debug/KeyBuffer.obj
Projects/FirstProject/x64/Debug/mainH3dW.obj
Projects/FirstProject/x64/Debug/Mesh.obj
Projects/FirstProject/x64/Debug/ModelViewer.obj
Projects/FirstProject/x64/Debug/program.obj
Projects/FirstProject/x64/Debug/quaternion.obj
Projects/FirstProject/x64/Debug/TestingArea.obj
Projects/FirstProject/x64/Debug/Scene.obj
Projects/FirstProject/x64/Debug/ShaderProgram.obj
